/* ---------Single Page Website CSS by Kelly King ----------*/

*{ margin: 0 auto;}


body {
	/*background:#e0e6d3;*/
	/*background-image:url( 'images/materials/page_bg.gif' );*/
	/*background-repeat:repeat-x;*/
	background-image:url( 'images/materials/seigaiha.png' );
	margin: 0 auto;
	font-family:'Inconsolata',georgia,times,serif,'Annie Use Your Telescope','Lobster','Fascinate Inline','Gloria Hallelujah','Pacifico','Shadows Into Light','Bilbo','Calligraffitti';
	height:2000px;
	}

.page-padding {height:10px; width:100%;}

a { color:white; text-decoration:none; }

a:hover { text-decoration:underline;}

ul.__inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.__inline > li {
  display: inline-block;
}

@supports (display: flex) {
  #menu {
    display: flex;
  }
  #menu > li {
    display: inline-block;
    /*flex-grow: 1;*/
    /*flex-basis: 0;*/
  }
}

h1 {
    font-size: 36px;
    /*line-height: 36px;*/
    margin: auto;
    padding: 0;
}

h2 {
		/*color: white;*/
    font-size: 32px;
    /*line-height: 32px;*/
		margin: auto;
    padding: 0;
}

#header {
	position:fixed;
	top:0px;
	left:0px;
	opacity: .9;
	background:#666;
	height:100px;
	width:100%;
	}

#nav {
	margin-left:12.5%;
	margin-right:12.5%;
	margin-top:10px;
	justify-content:space-around;
	/*word-spacing:20px;*/
}

#circle {
	border-radius:50% 50% 50% 50%;
	width:50%;
	/*height:20%;*/
	}
#reg_circle {
	border-radius:5% 5% 5% 52%;
	width:50%;
	/*height:20%;*/
	}
#reg {
		width:50%;
	}

	/* make the cells appear to be empty */
.space {
  background: none;
  /* make the width small, but setting it to 0 will actual default to the same width as other cells */
  width: 2%;
}

.horizontal-line{
	width: 80%; /* Line width */
	/*background-color: black; */
	background-image: url( 'images/materials/sep.png' );
	background-repeat:repeat-x;
	background-size:contain;
	height: 30px;
	/*margin-top: 1%;*/
	margin-bottom: 1%;
	/*float: center;*/
}


#news {
	float: center;
	width: 62.5%;
	background-color:transparent;
	max-height:150px;
	overflow: scroll;
	border:8px solid yellowgreen;
	/*padding:2%*/
}

#teaching {
	/*height:1100px;*/
	width:80%;
	padding-top: 100px;
	/*padding-bottom: 5%;*/
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	/*background:#afc9ff;*/
	background-color: transparent;
	}

#page0 {
	/*height:600px;*/
	width:80%;
	padding-top: 100px;
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
	margin-left: 10%;
	margin-right: 10%;
	/*background:#F5FFFA;*/
	background-color: transparent;
	/*background-image:url( 'images/home_bg.jpg' );*/
	background-repeat:no-repeat;
	}

#page1 {
	/*height:1100px;*/
	width:80%;
	padding-top: 100px;
	/*padding-bottom: 5%;*/
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	/*background:#afc9ff;*/
	background-color: transparent;
	}

#page2 {
	/*height:1100px;*/
	width:80%;
	padding-top: 100px;
	/*padding-bottom: 5%;*/
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	/*background:#777cdc;*/
	background-color: transparent;
	}

#page3 {
	/*height:1100px;*/
	width:80%;
	padding-top: 100px;
	/*padding-bottom: 5%;*/
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	/*background:#9b70c0;*/
	background-color: transparent;
	}

	#page4 {
		/*height:1100px;*/
		width:80%;
		padding-top: 100px;
		/*padding-bottom: 5%;*/
		padding-left: 5%;
		padding-right: 5%;
		margin-left: 10%;
		margin-right: 10%;
		/*background:#777cdc;*/
		background-color: transparent;
		}

#page_end {
	width:80%;
	padding-bottom: 5px;
	background-color: transparent;
	}

	.vertical-align {
	    display: flex;
	    align-items: center;
	}

	/**
	 * Image Slide item
	 * ==================================================
	 */
	.mySlides {display:none}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	.w3-badge {height:13px;width:13px;padding:0}

	/**
	 * Project item
	 * ==================================================
	 */

	.project {
	    background-color: white;
	    margin-top: 10px;
			margin-left: 5%;
			margin-right: 5%;
	    padding: 5px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
	}

	.thumbnail {
	    width: 30%;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	    border: none;
	    margin: auto;
	}

	.conference, .source, .authors {
	    font-style: italic;
			/*color: blue;*/
	    font-size: 16px;
	    /*line-height: 14px;*/
	}

	.paper-teaser {
	    margin: auto;
	}

	.paper-teaser img {
	    width: 100%;
	    /*max-width: 300px;*/
	}
/* ================================================== */
